body {
  background-color: $color-black;
}

.heading-primary {
  &--main {
    font-size: 7rem;
    font-weight: bold;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    padding: 2.5rem 5.5rem;
    text-align: center;
    border-radius: 30%;
    background-color: $color-secondary;
    // font-family: $font-style-Rye;
    font-family: $font-style-ks;
    text-shadow: 0.01em 0.01em 0 $color-white;

    @include respond(tab-land) {
      font-size: 6rem;
      padding: 2.5rem 2.5rem;
    }
    @include respond(tab-port) {
      font-size: 4.3rem;
      padding: 2.5rem 1rem;
    }
    @include respond(phone) {
      left: 50%;
    }

    &::after {
      content: attr(text-shadow);
      z-index: -1;
      position: absolute;
      top: 53%;
      left: 51%;
      transform: translateY(-50%) translateX(-50%);
      text-shadow: none;

      background-image: linear-gradient(
        45deg,
        transparent 20%,
        $color-white-dark 45%,
        $color-white 55%,
        transparent 0
      );
      background-size: 0.1em 0.1em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textAni 60s linear infinite;
    }
  }

  &--sub {
    background-color: $color-white-dark;
    padding: 1rem 1.5rem;
    border-radius: 20px;

    &-1 {
      font-size: 3rem;
      display: inline-block;
      font-family: $font-style-ks;
      transform: translateX(20%) translateY(-10%) rotateZ(10deg);

      @include respond(tab-land) {
        font-size: 2.8rem;
      }
      @include respond(tab-port) {
        margin-top: 2rem;
        font-size: 2.5rem;
      }
    }
    &-2 {
      font-size: 2.5rem;
      display: block;
      text-transform: uppercase;
      margin-top: 26rem;
      margin-left: 2rem;

      @include respond(tab-land) {
        font-size: 2.3rem;
      }
      @include respond(tab-port) {
        font-size: 1.8rem;
        width: 18rem;
        margin-left: 3rem;
        margin-top: 22rem;
      }
    }
  }
}

.paragraph-big {
  &--1 {
    font-size: $font-size-big-1;
  }

  &--2 {
    font-size: $font-size-big-2;
  }

  &--3 {
    font-size: $font-size-big-3;
  }
  &--4 {
    font-size: $font-size-big-4;
  }
}

.paragraph-medium {
  font-size: $font-size-medium;
}

.paragraph-small {
}

.heading-secondary {
  display: block;
  height: 8rem;
  width: 90%;
  margin: 4.5rem auto 6rem;
  background-color: $color-secondary;
  background-color: $color-white;
  // text-shadow: 0.1em 0.1em 0 $color-secondary;
  // border-radius: 20px;
  // border-top: 2px solid $color-white;
  border-top: 8px solid $color-secondary;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  section {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    position: relative;

    img {
      position: absolute;
      height: 4rem;
      width: 4rem;
      top: 1.3rem;
    }
    img:nth-child(1) {
      left: 2rem;
    }
    img:nth-child(2) {
      right: 2rem;
    }
    // border: 8px solid $color-secondary-dark;
    // transition: background 0.1s ease-in;
    // &:hover {
    //   background-color: $color-black;
    //   color: $color-white;
    //   text-shadow: none;
    //   border: 5px solid $color-primary;
    //   transform: scale(1.1);
    // }
  }
  &--repoSectionEffect {
  }

  position: relative;

  span {
    font-size: $font-size-big-3;
    // color: $color-white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include respond(phone) {
    section {
      span {
        font-size: $font-size-big-4;
      }

      img {
        position: absolute;
        height: 3rem;
        width: 3rem;
        top: 1.5rem;
      }
      img:nth-child(1) {
        left: 2rem;
      }
      img:nth-child(2) {
        right: 2rem;
      }
    }
  }
}

.heading-tertiary {
  z-index: 3;
  display: inline-block;
  padding: 1.2rem 2.2rem 1.2rem 2.4rem;
  position: relative;
  letter-spacing: 0.3rem;
  // cursor: pointer;
  transition: transform 0.5s;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0.25rem outset $color-grey;
    transition: transform 0.5s;
  }
  &:after {
    transform: translate(0.5rem, 0.5rem);
  }
  &:before {
    transform: translate(-0.5px, -0.5px);
  }
  &:hover {
    padding: 1.3rem 2.4rem 1.5rem 2.2rem;

    &:after {
      transform: translate(-0.3rem, -0.3rem);
    }
    &:before {
      transform: translate(1px, 1px);
    }
  }
}
