body {
  background-color: $color-black;
}

.heading-primary {
  &--main {
    font-size: 7.5rem;
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    padding: 2.5rem 5rem;
    text-align: center;
    border-radius: 30%;
    background-color: $color-secondary;
    // font-family: $font-style-Frijole;
    font-family: $font-style-Rye;
  }

  &--sub {
    background-color: $color-white-dark;
    padding: 1rem 1.5rem;
    &-1 {
      font-size: 4rem;
      display: inline-block;
      font-family: $font-style-ks;
      transform: translateX(20%) translateY(-10%) rotateZ(10deg);
    }
    &-2 {
      font-size: 4.2rem;
      display: block;
      text-transform: uppercase;
      margin-top: 24rem;
      transform: translateX(5%);
    }
  }
}

.paragraph-big {
  &--1 {
    font-size: $font-size-big-1;
  }

  &--2 {
    font-size: $font-size-big-2;
  }

  &--3 {
    font-size: $font-size-big-3;
  }
  &--4 {
    font-size: $font-size-big-4;
  }
}

.paragraph-medium {
  font-size: $font-size-medium;
}

.paragraph-small {
}

.heading-secondary {
  display: block;
  height: 11rem;
  width: 82rem;
  margin: 6rem auto;
  background-color: $color-secondary;
  border: $color-white 5px solid;
  position: relative;

  span {
    font-size: $font-size-big-3;
    color: $color-white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
