@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");
@-webkit-keyframes textAni {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -150%;
  }
}
@keyframes textAni {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -150%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fredericka the Great", "Nanum Gothic";
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
}

.heading-primary--main {
  font-size: 7.5rem;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: block;
  padding: 2.5rem 5rem;
  text-align: center;
  border-radius: 30%;
  background-color: #f89761;
  font-family: "Rye";
  text-shadow: 0.01em 0.01em 0 #fff;
}

.heading-primary--main::after {
  content: attr(text-shadow);
  z-index: -1;
  position: absolute;
  top: 53%;
  left: 51%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-shadow: none;
  background-image: linear-gradient(45deg, transparent 20%, #e6e6e6 45%, #fff 55%, transparent 0);
  background-size: 0.1em 0.1em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textAni 60s linear infinite;
          animation: textAni 60s linear infinite;
}

.heading-primary--sub {
  background-color: #e6e6e6;
  padding: 1rem 1.5rem;
}

.heading-primary--sub-1 {
  font-size: 4rem;
  display: inline-block;
  font-family: "Kelly Slab";
  -webkit-transform: translateX(20%) translateY(-10%) rotateZ(10deg);
          transform: translateX(20%) translateY(-10%) rotateZ(10deg);
}

.heading-primary--sub-2 {
  font-size: 4.2rem;
  display: block;
  text-transform: uppercase;
  margin-top: 24rem;
}

.paragraph-big--1 {
  font-size: 6rem;
}

.paragraph-big--2 {
  font-size: 5em;
}

.paragraph-big--3 {
  font-size: 4rem;
}

.paragraph-big--4 {
  font-size: 2.5rem;
}

.paragraph-medium {
  font-size: 3rem;
}

.heading-secondary {
  display: block;
  height: 10rem;
  width: 40%;
  margin: 4.5rem auto 6rem;
  background-color: #f89761;
  background-color: #fff;
  text-shadow: 0.1em 0.1em 0 #f89761;
  border-radius: 50px;
  border: 5px solid #f89761;
  position: relative;
}

.heading-secondary section {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  border: 8px solid #f8874a;
}

.heading-secondary span {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.heading-tertiary {
  z-index: 3;
  display: inline-block;
  padding: 1.2rem 2.2rem 1.2rem 2.4rem;
  position: relative;
  letter-spacing: 0.3rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.heading-tertiary:after, .heading-tertiary:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0.25rem outset #7a7a7a;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.heading-tertiary:after {
  -webkit-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}

.heading-tertiary:before {
  -webkit-transform: translate(-0.5px, -0.5px);
          transform: translate(-0.5px, -0.5px);
}

.heading-tertiary:hover {
  padding: 1.3rem 2.4rem 1.5rem 2.2rem;
}

.heading-tertiary:hover:after {
  -webkit-transform: translate(-0.3rem, -0.3rem);
          transform: translate(-0.3rem, -0.3rem);
}

.heading-tertiary:hover:before {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.arrow-big {
  display: inline-block;
  background-color: #f89761;
  color: #fff;
  text-align: center;
  -webkit-clip-path: polygon(0% 20%, 70% 20%, 70% 0%, 100% 50%, 70% 100%, 70% 80%, 0% 80%);
          clip-path: polygon(0% 20%, 70% 20%, 70% 0%, 100% 50%, 70% 100%, 70% 80%, 0% 80%);
  position: relative;
}

.arrow-big p {
  font-weight: bold;
  font-family: "Carter One";
  display: inline-block;
  color: #fff;
  z-index: 5;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-29%, -50%);
          transform: translate(-29%, -50%);
}

.btn-primary, .btn-primary:link, .btn-primary:visited {
  display: inline-block;
  background-color: #f89761;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  height: 65%;
  width: 15%;
  position: relative;
  left: 10%;
  top: 17%;
}

.btn-primary p, .btn-primary:link p, .btn-primary:visited p {
  font-size: 4.3rem;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(0%, -47%);
          transform: translate(0%, -47%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-primary:hover p {
  font-size: 4.5rem;
}

.btn-primary:hover::after {
  height: 110%;
  width: 110%;
}

.btn-primary::after {
  content: '';
  background-color: #000;
  border-radius: 50%;
  height: 122%;
  width: 115%;
  display: inline-block;
  position: absolute;
  top: -0.9rem;
  left: -5.5%;
  z-index: -1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-primary--2, .btn-primary--2:link, .btn-primary--2:visited {
  left: 20%;
}

.btn-secondary {
  text-decoration: none;
  display: inline-block;
  background-color: #e6e6e6;
  border: solid 5px #f8874a;
  padding: 0.2rem 1.5rem;
  cursor: pointer;
  -webkit-transition: all cubic-bezier(0, 0.76, 0.4, 1.4) 0.2s;
  transition: all cubic-bezier(0, 0.76, 0.4, 1.4) 0.2s;
}

.btn-secondary p {
  font-family: "Anton";
  font-size: 4.5rem;
  color: #f8874a;
}

.btn-secondary:hover {
  -webkit-transform: translateX(2%);
          transform: translateX(2%);
}

.btn-tertiary {
  font-size: 3rem;
  padding: 1rem 2rem;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border-top: 5px solid #f89761;
  border-left: 5px solid #f89761;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 10px 5px 10px -3px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 10px 5px 10px -3px;
}

.btn-show {
  font-size: 2.8rem;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 30px;
  border: 5px solid #f89761;
  -webkit-box-shadow: rgba(248, 151, 97, 0.25) 0px 20px 50px, rgba(248, 151, 97, 0.2) 4px 8px 0px;
          box-shadow: rgba(248, 151, 97, 0.25) 0px 20px 50px, rgba(248, 151, 97, 0.2) 4px 8px 0px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-show:hover {
  font-size: 3rem;
  color: #fff;
  background-color: #000;
  -webkit-box-shadow: rgba(248, 151, 97, 0.25) 0px 20px 50px, rgba(248, 151, 97, 0.8) 0px 0px 0px;
          box-shadow: rgba(248, 151, 97, 0.25) 0px 20px 50px, rgba(248, 151, 97, 0.8) 0px 0px 0px;
}

.project__title {
  background-color: #f89761;
  height: 8rem;
  width: 50rem;
  border-bottom: none;
  text-align: center;
  position: relative;
}

.project__title p {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.project__content {
  background-color: #c4c4c4;
  height: 30rem;
  width: 40rem;
  text-align: center;
  position: relative;
  left: 5rem;
  border: #f89761 5px solid;
}

.project__content ul {
  font-size: 3rem;
  list-style: none;
  margin-top: 0.5rem;
  font-family: "Anton";
}

.project__content ul li {
  display: block;
}

.project__content ul li a {
  color: #000;
  text-decoration: none;
  border-bottom: #7a7a7a 6px solid;
  padding-bottom: 0.6rem;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.project__content ul li a:hover {
  border-bottom: #f89761 10px solid;
}

.project__content ul li:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.project__item--small {
  display: inline-block;
  font-size: 2rem;
  padding-top: 2rem;
}

.project__item--big {
  display: inline-block;
  font-size: 3rem;
  padding-top: 1rem;
}

.repo {
  height: 100%;
  width: 80%;
  margin: 0 10%;
  border: 1px #c4c4c4 solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px #000 solid;
}

.repo-wrapper {
  height: 38rem;
}

.repo__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f89761;
  border: 5px #ffc4a4 solid;
}

.repo__title a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 3rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 2rem 3rem;
  text-transform: capitalize;
  text-shadow: 0.05em 0.05em 0 #c4c4c4;
}

.repo__title a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  text-shadow: none;
  color: #fff;
  text-shadow: 0.05em 0.05em 0 #000;
}

.repo__content {
  -webkit-box-flex: 3.5;
      -ms-flex: 3.5;
          flex: 3.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 2px solid rgba(122, 122, 122, 0.2);
}

.repo__content .repo-language {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.repo__content .repo-language img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.repo__content .repo-description {
  background-color: #c4c4c4;
  border-radius: 50%;
  height: 70%;
  width: 80%;
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0px 0.0625em 0.0625em, rgba(230, 230, 230, 0.55) 0px 0.125em 0.5em, rgba(0, 0, 0, 0.1) 0px 0px 1px 1px inset;
          box-shadow: rgba(255, 255, 255, 0.25) 0px 0.0625em 0.0625em, rgba(230, 230, 230, 0.55) 0px 0.125em 0.5em, rgba(0, 0, 0, 0.1) 0px 0px 1px 1px inset;
}

.repo__content .repo-description--title {
  background-color: #fff;
  display: inline-block;
  position: relative;
  left: 20%;
  top: 15%;
  border-radius: 50%;
  border: 0.1px solid #c4c4c4;
}

.repo__content .repo-description--title p {
  padding: 0.5rem;
  font-size: 1.7rem;
}

.repo__content .repo-description--text {
  position: relative;
  top: 10%;
}

.repo__content .repo-description--text p {
  color: #000;
  font-size: 1.7rem;
  padding: 2rem 5rem;
  word-wrap: break-word;
}

.repo__content .repo-star {
  position: absolute;
  left: 1.6rem;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repo__content .repo-star--icon img {
  height: 3.5rem;
}

.repo__content .repo-star--number {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.repo__content .repo-star--number span {
  font-size: 2rem;
  margin-left: 0.1rem;
}

.repo__content .repo-fork {
  position: absolute;
  right: 1.2rem;
  bottom: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repo__content .repo-fork--icon img {
  height: 2.5rem;
}

.repo__content .repo-fork--number {
  margin-left: 0.3rem;
  font-size: 1.2rem;
}

.repo__content .repo-fork--number span {
  margin-left: -0.1rem;
  font-size: 2rem;
}

.brick-font--small {
  display: inline-block;
  font-size: 2.2rem;
  line-height: 2.5rem;
  padding-top: 1.2rem;
}

.brick-font--mid {
  display: inline-block;
  font-size: 2.6rem;
  line-height: 4rem;
  padding-top: 1.6rem;
}

.brick-font--big {
  display: inline-block;
  font-size: 3rem;
  padding-top: 1.2rem;
}

.brick > ul {
  font-size: 3rem;
  list-style: none;
  margin-top: 0.5rem;
  font-family: "Anton";
}

.brick > ul > li {
  width: 48rem;
  height: 8.5rem;
  border-radius: 5rem;
  margin: 2rem 0;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  line-height: 4.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation: brickborder ease-out 5s infinite;
          animation: brickborder ease-out 5s infinite;
}

.brick > ul > li > a {
  color: #000;
  text-decoration: none;
  text-align: center;
  padding-bottom: 0.5rem;
  max-width: 22rem;
}

.brick > ul > li > a:hover {
  padding-bottom: 0.7rem;
}

.brick > ul > li:nth-child(odd) {
  background: -webkit-gradient(linear, left top, right top, from(#f89761), to(#f8874a));
  background: linear-gradient(to right, #f89761, #f8874a);
  text-align: left;
  padding-left: 20%;
  -webkit-transform: perspective(1000px) rotateY(30deg);
          transform: perspective(1000px) rotateY(30deg);
}

.brick > ul > li:nth-child(odd):hover {
  -webkit-transform: perspective(600px) rotateY(30deg);
          transform: perspective(600px) rotateY(30deg);
  padding-left: 7%;
  background: #fff;
}

.brick > ul > li:nth-child(odd) > a {
  border-bottom: #fff 4px solid;
}

.brick > ul > li:nth-child(odd) > a:hover {
  color: #f89761;
  border: none;
}

.brick > ul > li:nth-child(even) {
  text-align: right;
  padding-right: 20%;
  -webkit-transform: perspective(1000px) rotateY(-30deg);
          transform: perspective(1000px) rotateY(-30deg);
}

.brick > ul > li:nth-child(even):hover {
  -webkit-transform: perspective(600px) rotateY(-30deg);
          transform: perspective(600px) rotateY(-30deg);
  padding-right: 7%;
  background: -webkit-gradient(linear, right top, left top, from(#f89761), to(#f8874a));
  background: linear-gradient(to left, #f89761, #f8874a);
}

.brick > ul > li:nth-child(even) > a {
  border-bottom: #f89761 4px solid;
}

.brick > ul > li:nth-child(even) > a:hover {
  color: #fff;
  border: none;
}

.brick > ul li:hover li a {
  border: none !important;
}

@-webkit-keyframes brickborder {
  0% {
    border: 1.5px solid #7a7a7a;
  }
  50% {
    border: 0 solid rgba(122, 122, 122, 0.3);
  }
  100% {
    border: 1.5px solid #7a7a7a;
  }
}

@keyframes brickborder {
  0% {
    border: 1.5px solid #7a7a7a;
  }
  50% {
    border: 0 solid rgba(122, 122, 122, 0.3);
  }
  100% {
    border: 1.5px solid #7a7a7a;
  }
}

.skillset {
  background-color: #fff;
  margin: 0 auto;
  padding: 0.3rem 0 0.3rem 0;
  max-width: 60rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.skillset::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  z-index: 0;
  background-color: #ffc4a4;
  width: 0.8rem;
}

.skillset.skillset--show::after {
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}

.item {
  display: block;
  width: calc(50% - (0.8rem / 2));
  position: relative;
}

.item h4,
.item p {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.skillset--show .item h4, .skillset--show
.item p {
  opacity: 1;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

.item h4 {
  font-size: 2.5rem;
  line-height: 0.2rem;
  margin: 0 0 1.8rem 0;
  letter-spacing: 0.15rem;
}

.item p {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin: 0;
}

.skillset--show .item p {
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 4.8rem;
}

.item span img {
  width: 100%;
  opacity: 0;
  -webkit-animation: forwards 0.5s ease-in techimg;
          animation: forwards 0.5s ease-in techimg;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.item .checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 15;
  stroke-miterlimit: 10;
  stroke: #f7671a;
  fill: none;
  -webkit-animation: nane;
          animation: nane;
}

.skillset--show .item .checkmark__circle {
  -webkit-animation: goround 5s cubic-bezier(0.65, 0, 0.45, 1) infinite;
          animation: goround 5s cubic-bezier(0.65, 0, 0.45, 1) infinite;
}

.item .checkmark {
  z-index: 2;
  position: absolute;
  top: -2rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: block;
  stroke-width: 7;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  -webkit-box-shadow: inset 0px 0px 0px #f89761;
          box-shadow: inset 0px 0px 0px #f89761;
}

.skillset--show .item .checkmark {
  -webkit-animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
          animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.item .checkmark__check {
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 48;
}

.skillset--show .item .checkmark__check {
  opacity: 1;
  visibility: visible;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.item:not(:last-child) {
  margin-bottom: 0.3rem;
}

.item:nth-child(odd) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 4rem;
  text-align: left;
}

.item:nth-child(odd) .checkmark {
  left: -2rem;
}

.item:nth-child(odd) span {
  top: 50%;
  right: 0;
  -webkit-transform: translateX(20%) translateY(-70%);
          transform: translateX(20%) translateY(-70%);
}

.item:nth-child(even) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-right: 4rem;
  text-align: right;
}

.item:nth-child(even) .checkmark {
  left: 19rem;
}

.item:nth-child(even) span {
  top: 50%;
  left: 0;
  -webkit-transform: translateX(-20%) translateY(-70%);
          transform: translateX(-20%) translateY(-70%);
}

@-webkit-keyframes techimg {
  100% {
    opacity: 1;
  }
}

@keyframes techimg {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes nodeSize {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes nodeSize {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}

@-webkit-keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #f89761;
            box-shadow: inset 0px 0px 0px 30px #f89761;
  }
}

@keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #f89761;
            box-shadow: inset 0px 0px 0px 30px #f89761;
  }
}

@-webkit-keyframes goround {
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 166;
  }
}

@keyframes goround {
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 166;
  }
}

.circle-spinner {
  width: calc(8rem);
  height: calc(8rem);
  position: relative;
}

.circle-spinner img {
  height: 85%;
  width: 85%;
  z-index: 3;
  position: absolute;
  top: 7.5%;
  left: 7.5%;
  background-size: cover;
  border-radius: 50%;
}

.circle-spinner__view {
  height: 8rem;
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

.circle-spinner__view span {
  height: 8rem;
  width: 8rem;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #f89761;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(33%, black), color-stop(66%, #f7671a), to(#f89761));
  background: linear-gradient(0deg, black 33%, #f7671a 66%, #f89761 100%);
  -webkit-animation: spinning 45s linear 0s infinite;
          animation: spinning 45s linear 0s infinite;
}

.circle-spinner__mid span {
  width: 100%;
  z-index: 100;
  height: 100%;
  background-size: cover;
  border-radius: 50%;
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.itemscircle {
  height: 100%;
}

.itemscircle-wrapper {
  height: 100%;
  width: 10rem;
  list-style: none;
}

.itemscircle__root {
  z-index: -1;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.itemscircle__root-open {
  height: 100%;
  width: 100%;
}

.itemscircle__root-open img {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  padding: 0.8rem;
  border-radius: 50%;
}

.itemscircle__root-close {
  z-index: 5;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.itemscircle__root-close p {
  font-weight: bold;
  text-align: center;
  line-height: 2.5rem;
  font-size: 2.2rem;
  letter-spacing: 0.15rem;
}

.itemscircle__root-close:hover {
  opacity: 1;
}

.itemscircle__item {
  display: none;
  position: absolute;
}

.itemscircle__item--0 {
  top: 35%;
}

.itemscircle__item--1 {
  top: -45%;
}

.itemscircle__item--2 {
  top: 115%;
}

.itemscircle__item-stroke svg {
  z-index: -2;
  height: calc( 4rem * 2 + 0.8rem* 2);
  width: calc( 4rem * 2 + 0.8rem* 2);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.itemscircle__item-stroke circle {
  cx: calc( ( 4rem * 2 + 0.8rem* 2 ) / 2);
  cy: calc( ( 4rem * 2 + 0.8rem* 2 ) / 2);
  r: 4rem;
  stroke-dasharray: calc(4rem * 6.28);
  stroke-dashoffset: calc(4rem * 6.28);
  stroke-width: 0.8rem;
  stroke: #f7671a;
  fill: none;
  -webkit-animation: stroke 1s cubic-bezier(0.65, 0, 0.45, 1) forwards;
          animation: stroke 1s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.itemscircle__item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  line-height: 3rem;
}

.itemscircle__item-icon img {
  height: 5.5rem;
  width: 5.5rem;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.itemscircle__item-icon-percentage {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 2rem;
  -webkit-transform: translateY(-70%) translateX(-43%);
          transform: translateY(-70%) translateX(-43%);
}

.itemscircle__item-icon-percentage span {
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

.itemscircle__root-close:hover ~ .itemscircle__root-open img {
  visibility: hidden;
}

.itemscircle__root-close:hover ~ .itemscircle__item {
  display: block;
}

.itemscircle-0, .itemscircle-2 {
  position: absolute;
  right: 0;
  top: 0;
}

.itemscircle-0 .itemscircle__root-open img, .itemscircle-2 .itemscircle__root-open img {
  background-color: #fff;
}

.itemscircle-0 .itemscircle__root-close, .itemscircle-2 .itemscircle__root-close {
  -webkit-transform: translateY(-50%) translateX(-80%);
          transform: translateY(-50%) translateX(-80%);
}

.itemscircle-0 .itemscircle__root-close p, .itemscircle-2 .itemscircle__root-close p {
  color: #f89761;
}

.itemscircle-0 .itemscircle__item, .itemscircle-2 .itemscircle__item {
  position: absolute;
}

.itemscircle-0 .itemscircle__item--0, .itemscircle-2 .itemscircle__item--0 {
  left: 180%;
}

.itemscircle-0 .itemscircle__item--1, .itemscircle-0 .itemscircle__item--2, .itemscircle-2 .itemscircle__item--1, .itemscircle-2 .itemscircle__item--2 {
  left: 285%;
}

.itemscircle-1, .itemscircle-3 {
  position: absolute;
  left: 0;
  top: 0;
}

.itemscircle-1 .itemscircle__root-open img, .itemscircle-3 .itemscircle__root-open img {
  border: 1px solid #000;
}

.itemscircle-1 .itemscircle__root-close, .itemscircle-3 .itemscircle__root-close {
  -webkit-transform: translateY(-50%) translateX(-20%);
          transform: translateY(-50%) translateX(-20%);
}

.itemscircle-1 .itemscircle__root-close p, .itemscircle-3 .itemscircle__root-close p {
  color: #fff;
}

.itemscircle-1 .itemscircle__item, .itemscircle-3 .itemscircle__item {
  position: absolute;
}

.itemscircle-1 .itemscircle__item--0, .itemscircle-3 .itemscircle__item--0 {
  right: 180%;
}

.itemscircle-1 .itemscircle__item--1, .itemscircle-1 .itemscircle__item--2, .itemscircle-3 .itemscircle__item--1, .itemscircle-3 .itemscircle__item--2 {
  right: 285%;
}

@keyframes stroke {
  0% {
    stroke-dashoffset: calc(4rem * 6.28);
  }
}

.notetree {
  width: 18rem;
  height: 28rem;
}

.notetree__title {
  height: 5.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c4c4c4;
  background-color: rgba(0, 0, 0, 0.8);
  border: 8px solid #f89761;
  margin-top: 3rem;
}

.notetree__title p {
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
  padding: 0.2rem 0.5rem;
}

.notetree__title-font--small p {
  font-size: 1.8rem;
  line-height: 1.5rem;
}

.notetree__li-font--small a {
  font-size: 1.5rem !important;
}

.notetree ul {
  margin-top: 1.5rem;
  list-style-image: url(../../public/img/design/note-icon.png);
}

.notetree ul > li {
  float: right;
  width: 80%;
  margin-bottom: 1.2rem;
}

.notetree ul > li a {
  line-height: 2rem;
  font-size: 1.7rem;
  text-decoration: none;
  color: #000;
  -webkit-text-decoration: underline #fff 3px;
          text-decoration: underline #fff 3px;
  -webkit-transition: -webkit-text-decoration 0.2s;
  transition: -webkit-text-decoration 0.2s;
  transition: text-decoration 0.2s;
  transition: text-decoration 0.2s, -webkit-text-decoration 0.2s;
}

.notetree ul > li a:hover {
  -webkit-text-decoration: underline #ffc4a4 3px;
          text-decoration: underline #ffc4a4 3px;
}

.infocard {
  border: 3px #f89761 solid;
  border-top: 7px #f89761 solid;
  border-left: 7px #f89761 solid;
  -webkit-box-shadow: rgba(248, 151, 97, 0.6) 20px 18px 50px 0px, white -10px -12px 0px 12px;
          box-shadow: rgba(248, 151, 97, 0.6) 20px 18px 50px 0px, white -10px -12px 0px 12px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  border-radius: 20px;
  width: 50rem;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.infocard-avatar {
  position: absolute;
  top: 6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.infocard-avatar img {
  width: 12rem;
  border: #c4c4c4 4px solid;
}

.infocard__top {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem 5rem 0 5rem;
}

.infocard__top-textbox {
  -webkit-box-flex: 1.7;
      -ms-flex: 1.7;
          flex: 1.7;
  line-height: 2.3rem;
  font-size: 1.5rem;
  position: relative;
}

.infocard__top-textbox--1 {
  position: absolute;
  left: 0;
  top: 0;
}

.infocard__top-textbox--2 {
  position: absolute;
  text-align: end;
  right: 0;
  top: 0;
}

.infocard__top-iconsbox {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.infocard__top-iconsbox--1, .infocard__top-iconsbox--2 {
  width: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
}

.infocard__top-iconsbox--1 {
  position: absolute;
  top: 0;
  left: 0;
}

.infocard__top-iconsbox--2 {
  position: absolute;
  top: 0;
  right: 0;
}

.infocard__top-iconsbox-icon {
  text-align: center;
  width: 3.2rem;
}

.infocard__top-iconsbox-icon img {
  width: 3rem;
  border-radius: 10px;
  padding: 0.3rem;
}

.infocard__top-iconsbox-icon figcaption {
  color: #fff;
  line-height: 0.2rem;
  font-size: 0.8rem;
}

.infocard__top-iconsbox-icon--hackmd img {
  margin-top: 0.3rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
}

.infocard__top-iconsbox-icon--hackmd figcaption {
  font-size: 0.6rem;
  line-height: 0.8rem;
}

.infocard__mid {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-top: 2px #c4c4c4 solid;
  border-bottom: 2px #c4c4c4 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infocard__mid > ul {
  list-style: none;
}

.infocard__mid > ul li {
  font-size: 2.5rem;
  line-height: 4rem;
}

.infocard__mid > ul li span {
  font-size: 3rem;
  font-weight: bold;
}

.infocard__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infocard__bottom-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

.infocard__bottom-icons img {
  width: 3rem;
}

.footer {
  background-color: #000;
  height: 8rem;
}

.footer p {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.header {
  height: 100vh;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(196, 196, 196, 0.1)), to(rgba(248, 151, 97, 0.2))), url(../../public/img/me-bg.jpg);
  background-image: linear-gradient(to right bottom, rgba(196, 196, 196, 0.1), rgba(248, 151, 97, 0.2)), url(../../public/img/me-bg.jpg);
  background-size: cover;
  background-position: right;
  position: relative;
}

.header-animation {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.02)), to(rgba(255, 255, 255, 0.04)));
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.04));
  background-size: cover;
  background-position: right;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.header-animation--1 {
  -webkit-animation: headerani1 5s linear infinite;
          animation: headerani1 5s linear infinite;
}

.header-animation--2 {
  -webkit-animation: headerani2 10s linear infinite;
          animation: headerani2 10s linear infinite;
}

.header-animation--3 {
  -webkit-animation: headerani3 5s linear infinite;
          animation: headerani3 5s linear infinite;
}

.header-animation--4 {
  -webkit-animation: headerani4 10s linear infinite;
          animation: headerani4 10s linear infinite;
}

.header-animation--5 {
  -webkit-animation: headerani5 5s linear infinite;
          animation: headerani5 5s linear infinite;
}

.header-animation--6 {
  -webkit-animation: headerani6 10s linear infinite;
          animation: headerani6 10s linear infinite;
}

.header__left {
  height: 100vh;
  background-color: #c4c4c4;
  -webkit-clip-path: polygon(0 0, 55% 0%, 45% 48%, 45% 50%, 45% 52%, 57% 100%, 0 100%);
          clip-path: polygon(0 0, 55% 0%, 45% 48%, 45% 50%, 45% 52%, 57% 100%, 0 100%);
  -webkit-transition: all linear 0.05s;
  transition: all linear 0.05s;
}

.header:hover .header__left {
  -webkit-clip-path: polygon(0 0, 52% 0%, 43.5% 45%, 43.5% 50%, 43.5% 55%, 54% 100%, 0 100%);
          clip-path: polygon(0 0, 52% 0%, 43.5% 45%, 43.5% 50%, 43.5% 55%, 54% 100%, 0 100%);
}

.header__button-box {
  display: inline-block;
  position: absolute;
  width: 65%;
  height: 15rem;
  background-color: #fff;
  z-index: -1;
}

.header__text-box {
  display: inline-block;
  position: absolute;
  top: 27%;
  left: 5%;
}

.header__link-box {
  display: inline-block;
  position: absolute;
  bottom: 7%;
  left: 5%;
}

.header__info {
  color: #fff;
}

.header__info-textbox-1 {
  position: absolute;
  right: 13rem;
  top: 0;
  font-size: 13rem;
}

.header__info-textbox-2 {
  background-color: rgba(196, 196, 196, 0.3);
  position: absolute;
  border-radius: 30px;
  right: 3rem;
  bottom: 5rem;
  font-size: 4rem;
  padding: 2rem 2rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__info-textbox-2:hover {
  background-color: rgba(196, 196, 196, 0.2);
}

@-webkit-keyframes headerani1 {
  0% {
    -webkit-clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
            clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@keyframes headerani1 {
  0% {
    -webkit-clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
            clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@-webkit-keyframes headerani2 {
  0% {
    -webkit-clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
            clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@keyframes headerani2 {
  0% {
    -webkit-clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
            clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@-webkit-keyframes headerani3 {
  0% {
    -webkit-clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
            clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@keyframes headerani3 {
  0% {
    -webkit-clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
            clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@-webkit-keyframes headerani4 {
  0% {
    -webkit-clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
            clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@keyframes headerani4 {
  0% {
    -webkit-clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
            clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@-webkit-keyframes headerani5 {
  0% {
    -webkit-clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
            clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@keyframes headerani5 {
  0% {
    -webkit-clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
            clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
  }
  100% {
    -webkit-clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
            clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@-webkit-keyframes headerani6 {
  0% {
    -webkit-clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
            clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@keyframes headerani6 {
  0% {
    -webkit-clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
            clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
  }
  100% {
    -webkit-clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
            clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  cursor: pointer;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4%;
  right: 2.5%;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  background-image: radial-gradient(#f8874a, #f89761);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: calc( (7rem - 6rem) / 2 + 4%);
  right: calc( (7rem - 6rem) / 2 + 2.5%);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1), -webkit-transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 8rem;
  font-weight: 700;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #7a7a7a;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 4px;
  background-color: #7a7a7a;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: ' ';
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navigation__icon::before {
  top: -1rem;
}

.navigation__icon::after {
  top: 1rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1.3rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1.3rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.section {
  height: 65rem;
}

.section-about {
  background-color: #fff;
  position: relative;
}

.section-about__container {
  position: relative;
  height: 95%;
  width: 98%;
  top: 2.5%;
  left: 1%;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 6px 2px, rgba(60, 64, 67, 0.15) 0px 0px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 6px 2px, rgba(60, 64, 67, 0.15) 0px 0px 6px 2px;
}

.section-about__screwbox {
  position: absolute;
  -webkit-animation: screwsrotate2 forwards 0.5s ease-in;
          animation: screwsrotate2 forwards 0.5s ease-in;
}

.section-about__screwbox--rotate {
  -webkit-animation: screwsrotate forwards 0.5s ease-in;
          animation: screwsrotate forwards 0.5s ease-in;
}

.section-about__screwbox img {
  height: 3rem;
}

.section-about__screwbox-1 {
  top: 0.5rem;
  left: 0.5rem;
}

.section-about__screwbox-2 {
  top: 0.5rem;
  right: 0.5rem;
}

.section-about__screwbox-3 {
  bottom: 0.5rem;
  right: 0.5rem;
}

.section-about__screwbox-4 {
  bottom: 0.5rem;
  left: 0.5rem;
}

.section-about__arrow-box a {
  position: absolute;
  top: 50%;
  left: 45%;
  height: 6rem;
  width: 10rem;
  opacity: 0;
  -webkit-animation: arrowmove forwards 1s ease-out;
          animation: arrowmove forwards 1s ease-out;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

.section-about__arrow-box a p::after {
  font-size: 2.2rem;
  content: '作品';
}

.section-about__arrow-box a:hover {
  background-color: #000;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.section-about__arrow-box a:hover p::after {
  font-size: 2rem;
  font-weight: 300;
  content: 'Github';
}

.section-about__textbox-1 {
  position: absolute;
  top: 8%;
  right: 10%;
  font-weight: bold;
  padding: 1.5rem 3rem;
  background-color: #e6e6e6;
}

.section-about__textbox-2 {
  position: absolute;
  top: 2%;
  left: 4%;
}

.section-about__skillsetbox {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 50rem;
}

.section-about__project-box {
  position: absolute;
  bottom: 4%;
  right: 9.5%;
}

.section-about__circlebox {
  position: absolute;
  top: 5%;
  right: 1.1%;
}

.section-repo {
  background-color: #c4c4c4;
}

.section-repo__heading {
  width: 100%;
  float: left;
}

.section-repo__repos {
  width: 100%;
  float: left;
}

.section-note {
  background-color: #fff;
}

.section-note__container {
  position: relative;
  top: 5%;
  left: 2.5%;
  width: 95%;
  height: 90%;
  border: 3px solid #f89761;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.section-note__topicbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes arrowmove {
  25% {
    opacity: 1;
    left: 45.5%;
  }
  50% {
    left: 44.5%;
  }
  70% {
    left: 44%;
    background-color: #000;
  }
  100% {
    opacity: 1;
    left: 45%;
  }
}

@keyframes arrowmove {
  25% {
    opacity: 1;
    left: 45.5%;
  }
  50% {
    left: 44.5%;
  }
  70% {
    left: 44%;
    background-color: #000;
  }
  100% {
    opacity: 1;
    left: 45%;
  }
}

@-webkit-keyframes screwsrotate {
  100% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}

@keyframes screwsrotate {
  100% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}

@-webkit-keyframes screwsrotate2 {
  100% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
}

@keyframes screwsrotate2 {
  100% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
}

#aboutpage .about {
  color: #fff;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#aboutpage .about__top {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #c4c4c4), color-stop(50%, #fff));
  background: linear-gradient(to bottom, #c4c4c4 50%, #fff 50%);
}

#aboutpage .about__top-buttonsbox {
  position: absolute;
  left: 4rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#aboutpage .about__top-buttonsbox:hover {
  -webkit-transform: translateX(-2%);
          transform: translateX(-2%);
}

#aboutpage .about__top-pagename {
  font-size: 2.8rem;
  color: #fff;
  background-color: #f89761;
  width: 25rem;
  height: 65%;
  position: absolute;
  right: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-shadow: 0.02em 0.02em 0 #000;
}

#aboutpage .about__mid {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #000;
}

#aboutpage .about__mid_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#aboutpage .about__mid_left-textbox--1 {
  font-size: 3rem;
  position: absolute;
  left: 4rem;
  top: 5rem;
}

#aboutpage .about__mid_left-textbox--2 {
  font-size: 2rem;
  position: absolute;
  left: 10rem;
  top: 16rem;
}

#aboutpage .about__mid_left-textbox--3 {
  font-size: 2rem;
  position: absolute;
  left: 40rem;
  top: 19rem;
}

#aboutpage .about__mid_left-buttonbox {
  position: absolute;
  left: 52rem;
  top: 10rem;
}

#aboutpage .about__mid_left-codetime {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: 5rem;
}

#aboutpage .about__mid_left-codetime img {
  width: 55rem;
}

#aboutpage .about__mid_left-codetime figcaption {
  font-size: 1.1rem;
  line-height: 3rem;
  text-align: center;
}

#aboutpage .about__mid_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutpage .about__bottom {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  background-color: #f89761;
}
/*# sourceMappingURL=main.css.map */