.footer {
  background-color: #000;
  // width: 100vw;
  height: 8rem;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  p {
    font-size: 3rem;
    text-align: center;
    color: #fff;
  }
}
