.header {
  height: 100vh;
  background-color: #c4c4c4;
  // position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.1),
      rgba($color-secondary, 0.2)
    ),
    // url(../img/header-background.jpg);
    url(../../public/img/me-bg.jpg);
  background-size: cover;
  background-position: right;
  // background-position: 180% 0%;

  &__left {
    height: 100vh;
    background-color: $color-primary;
    clip-path: polygon(
      0 0,
      55% 0%,
      45% 48%,
      45% 50%,
      45% 52%,
      57% 100%,
      0 100%
    );

    transition: all linear 0.05s;
  }

  &:hover &__left {
    clip-path: polygon(
      0 0,
      52% 0%,
      43.5% 45%,
      43.5% 50%,
      43.5% 55%,
      54% 100%,
      0 100%
    );
  }

  &__button-box {
    display: inline-block;
    position: absolute;
    width: 65%;
    height: 15rem;

    background-color: $color-white;
    z-index: -1;
  }

  &__text-box {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 5%;
  }

  &__link-box {
    display: inline-block;
    position: absolute;
    bottom: 7%;
    left: 5%;
  }
}
