.header {
  height: 100vh;
  // background-color: #c4c4c4;
  // position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.1),
      rgba($color-secondary, 0.2)
    ),
    // url(../img/header-background.jpg);
    url(../../public/img/me-bg.jpg);
  background-size: cover;
  background-position: right;
  // background-position: 0% 30%;
  position: relative;

  @include respond(tab-land) {
    background-position: 70% 0%;
  }

  &-animation {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-white, 0.02),
      rgba($color-white, 0.04)
    );
    background-size: cover;
    background-position: right;
    transform-origin: center;

    &--1 {
      animation: headerani1 5s linear infinite;
    }

    &--2 {
      animation: headerani2 10s linear infinite;
    }

    &--3 {
      animation: headerani3 5s linear infinite;
    }

    &--4 {
      animation: headerani4 10s linear infinite;
    }

    &--5 {
      animation: headerani5 5s linear infinite;
    }

    &--6 {
      animation: headerani6 10s linear infinite;
    }
  }

  &__left {
    height: 100vh;
    background-image: linear-gradient(
      to bottom,
      rgba($color-primary, 1) 10%,
      rgba($color-primary, 0.3) 30%,
      rgba($color-primary, 1) 38.5%,
      rgba($color-primary, 1) 62.5%,
      rgba($color-primary, 0.6) 75%,
      rgba($color-primary, 1) 100%
    );
    clip-path: polygon(
      0 0,
      55% 0%,
      45% 48%,
      45% 50%,
      45% 52%,
      57% 100%,
      0 100%
    );
    transition: all linear 0.05s;

    @include respond(phone) {
      // width: 0%;
      z-index: -2;
      clip-path: none;

      background-image: linear-gradient(
        to bottom,
        rgba($color-primary, 1) 10%,
        rgba($color-primary, 0.3) 30%,
        rgba($color-primary, 1) 47.5%,
        rgba($color-primary, 1) 52.5%,
        rgba($color-primary, 0.3) 75%,
        rgba($color-primary, 1) 100%
      );
    }
  }

  &:hover &__left {
    clip-path: polygon(
      0 0,
      52% 0%,
      43.5% 45%,
      43.5% 50%,
      43.5% 55%,
      54% 100%,
      0 100%
    );

    @include respond(phone) {
      // width: 80%;
      z-index: -2;
      clip-path: none;
    }
  }

  &__button-box {
    display: inline-block;
    position: absolute;
    width: 65%;
    height: 15rem;
    background-image: linear-gradient(
      to bottom,
      rgba($color-white, 1) 10%,
      rgba($color-white, 0.8) 75%,
      rgba($color-white, 0.7) 95%,
      rgba($color-white, 0) 100%
    );
    z-index: 1;

    @include respond(phone) {
      width: 60%;
    }
  }

  &__text-box {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 5%;
  }

  &__link-box {
    display: inline-block;
    position: absolute;
    bottom: 7%;
    left: 5%;
  }

  &__info {
    // position: absolute;
    // z-index: 10;

    color: $color-white;
    &-textbox {
      &-1 {
        position: absolute;
        right: 13rem;
        top: 0;
        font-size: 7rem;
      }

      &-2 {
        background-color: rgba($color-primary, 0.3);
        position: absolute;
        border-radius: 30px;
        right: 3rem;
        bottom: 5rem;
        font-size: 3rem;
        padding: 2rem 2rem;
        transition: all 0.5s linear;
        &:hover {
          background-color: rgba($color-primary, 0.2);
        }
      }
    }
    // background-color: aqua;
  }
}

@keyframes headerani1 {
  0% {
    clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
  }
  100% {
    clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}
@keyframes headerani2 {
  0% {
    clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
  }
  100% {
    clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}
@keyframes headerani3 {
  0% {
    clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
  }
  100% {
    clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}
@keyframes headerani4 {
  0% {
    clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
  }
  100% {
    clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}
@keyframes headerani5 {
  0% {
    clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
  }
  100% {
    clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}
@keyframes headerani6 {
  0% {
    clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
  }
  100% {
    clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}
