.brick {
  &-font {
    &--small {
      display: inline-block;
      font-size: 2.2rem;
      line-height: 2.5rem;
      padding-top: 1rem;
    }

    &--big {
      display: inline-block;
      font-size: 3rem;
      padding-top: 1rem;
    }
  }
  > ul {
    font-size: 3rem;
    list-style: none;
    margin-top: 0.5rem;
    font-family: $font-style-anton;

    > li {
      width: 41.5rem;
      height: 8.5rem;
      border-radius: 5rem;
      margin: 2rem 0;
      box-shadow: 0 0 1rem rgba($color-black, 0.2);
      text-transform: capitalize;
      line-height: 4.5rem;
      transition: 0.3s;
      position: relative;

      > a {
        color: $color-black;
        text-decoration: none;
        transition: all linear 0.2s;
        // background-color: aquamarine;
        text-align: center;
        padding-bottom: 0.5rem;
        max-width: 18rem;

        &:hover {
          padding-bottom: 0.7rem;
        }
      }

      &:nth-child(odd) {
        background: linear-gradient(
          to right,
          $color-secondary,
          $color-secondary-dark
        );
        text-align: left;
        padding-left: 20%;
        transform: perspective(1000px) rotateY(30deg);
        &:hover {
          transform: perspective(600px) rotateY(30deg);
          padding-left: 7%;
          background: $color-white;
        }

        > a {
          border-bottom: $color-white 4px solid;
          &:hover {
            color: $color-secondary;
            border-bottom: $color-secondary 6px solid;
          }
        }
      }
      &:nth-child(even) {
        text-align: right;
        padding-right: 20%;
        transform: perspective(1000px) rotateY(-30deg);

        &:hover {
          transform: perspective(600px) rotateY(-30deg);
          padding-right: 7%;

          background: linear-gradient(
            to left,
            $color-secondary,
            $color-secondary-dark
          );
        }

        > a {
          border-bottom: $color-secondary 4px solid;

          &:hover {
            color: $color-white;
            border-bottom: $color-white 6px solid;
          }
        }
      }
    }

    li:hover li a {
      border: none !important;
    }
  }
}
