$circle-spinner-height: 8rem;
$circle-spinner-width: 8rem;
$circle-circle-spinner-animation: 45s;

.circle-spinner {
  width: calc(#{$circle-spinner-width});
  height: calc(#{$circle-spinner-height});
  position: relative;
  img {
    height: 85%;
    width: 85%;
    z-index: 3;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
    background-size: cover;

    border-radius: 50%;
  }
  &__view {
    height: $circle-spinner-height;
    width: $circle-spinner-width;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    span {
      height: $circle-spinner-height;
      width: $circle-spinner-width;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: $color-secondary;
      background: linear-gradient(
        0deg,
        rgba($color-black, 1) 33%,
        rgba($color-secondary-dark-2, 1) 66%,
        rgba($color-secondary, 1) 100%
      );
      animation: spinning $circle-circle-spinner-animation linear 0s infinite;
    }
  }

  &__mid {
    span {
      width: 100%;
      z-index: 100;
      height: 100%;
      background-size: cover;

      border-radius: 50%;
    }
  }
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
