//if change this, should update Iitemscircle.js circleRadius variable;
$circle-radius: 4rem;
$circle-strokeWidth: 0.8rem;
.itemscircle {
  height: 100%;
  &-wrapper {
    height: 100%;
    width: 10rem;
    list-style: none;
    // background-color: aqua;
  }

  &__root {
    z-index: -1;
    transition: 0.1s;
    // opacity: 0;
    // overflow: hidden;

    &-open {
      // background-color: aquamarine;
      height: 100%;
      width: 100%;
      img {
        height: 80%;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        padding: 0.8rem;
        border-radius: 50%;
      }
    }

    &-close {
      z-index: 5;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-weight: bold;
        text-align: center;
        line-height: 2.5rem;
        font-size: 2.2rem;
        letter-spacing: 0.15rem;
        // text-shadow: 0.01em 0.01em 0 $color-black;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &__item {
    // opacity: 0;
    display: none;
    position: absolute;
    &--0 {
      top: 35%;
    }
    &--1 {
      top: -45%;
    }
    &--2 {
      top: 115%;
    }

    &-stroke {
      svg {
        z-index: -2;
        height: calc(#{$circle-radius} * 2 + #{$circle-strokeWidth}* 2);
        width: calc(#{$circle-radius} * 2 + #{$circle-strokeWidth}* 2);

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
      circle {
        cx: calc((#{$circle-radius} * 2 + #{$circle-strokeWidth}* 2) / 2);
        cy: calc((#{$circle-radius} * 2 + #{$circle-strokeWidth}* 2) / 2);
        r: $circle-radius;
        stroke-dasharray: calc(#{$circle-radius} * 6.28);
        stroke-dashoffset: calc(#{$circle-radius} * 6.28);
        stroke-width: $circle-strokeWidth;
        stroke: $color-secondary-dark-2;
        fill: none;
        //   stroke-miterlimit: 10;
        animation: stroke 1s cubic-bezier(0.65, 0, 0.45, 1) forwards;
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 2rem;
      line-height: 3rem;
      img {
        height: 5.5rem;
        width: 5.5rem;
        transform: translateY(-50%) translateX(-50%);
      }
      &-percentage {
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
        font-size: 2rem;
        // background-color: aqua;
        transform: translateY(-70%) translateX(-43%);

        span {
          padding-left: 0.5rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  &__root-close:hover ~ &__root-open {
    img {
      visibility: hidden;
    }
  }
  &__root-close:hover ~ &__item {
    display: block;
  }

  &-0,
  &-2 {
    position: absolute;
    right: 0;
    top: 0;
    .itemscircle__root-open {
      img {
        background-color: $color-white;
      }
    }

    .itemscircle__root-close {
      transform: translateY(-50%) translateX(-80%);
      p {
        color: $color-secondary;
      }
    }

    .itemscircle__item {
      position: absolute;
      &--0 {
        left: 180%;
      }
      &--1,
      &--2 {
        left: 285%;
      }
    }
  }

  &-1,
  &-3 {
    position: absolute;
    left: 0;
    top: 0;
    .itemscircle__root-open {
      img {
        // background-color: $color-secondary;
        border: 1px solid $color-black;
      }
    }
    .itemscircle__root-close {
      transform: translateY(-50%) translateX(-20%);
      p {
        color: $color-white;
      }
    }
    .itemscircle__item {
      position: absolute;
      &--0 {
        right: 180%;
      }
      &--1,
      &--2 {
        right: 285%;
      }
    }
  }
}

@keyframes stroke {
  0% {
    stroke-dashoffset: calc(#{$circle-radius} * 6.28);
  }
}
