.notetree {
  width: 20rem;
  height: 20rem;
  //   background-color: lightblue;
  &__title {
    background-color: $color-primary;
    border: 8px solid $color-secondary;
    p {
      text-align: center;
      padding: 0.2rem 0;
      font-size: 2.5rem;
    }
  }
  > ul {
    &::before {
      content: '';
      position: relative;
    }
    list-style: none;
    // background-color: lightgreen;
    margin-top: 1rem;
    > li {
      float: right;
      width: 80%;
      a {
        line-height: 3rem;
        font-size: 1.8rem;
        text-decoration: none;
        color: $color-black;
        &:hover {
          font-size: 1.9rem;
          text-decoration: underline $color-secondary 3px;
        }
      }
    }
  }
}
