.notetree {
  width: 17rem;
  //   height: 95%;
  height: 28rem;

  @include respond(tab-land) {
    transform: scale(0.95);
  }
  @include respond(tab-port) {
    transform: scale(0.9);
  }
  @include respond(phone) {
    transform: scale(0.85);
  }

  &__title {
    height: 5.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-primary, 1);
    background-color: rgba($color-black, 0.8);
    border: 8px solid $color-secondary;
    margin-top: 2rem;

    @include respond(phone) {
      margin-top: 1rem;
    }
    p {
      color: $color-white;
      //   text-shadow: 0.1em 0.1em 0 $color-;
      font-size: 2.2rem;
      text-align: center;
      padding: 0.2rem 0.5rem;
    }
    &-font {
      &--small {
        p {
          font-size: 1.8rem;
          line-height: 1.5rem;
        }
      }
    }
  }

  &__li {
    &-font--small {
      a {
        font-size: 1.5rem !important;
      }
    }
  }

  ul {
    margin-top: 1.5rem;
    list-style-image: url(../../public/img/design/note-icon.png);
    // list-style: square inside url(../../public/img/design/note-icon.svg);
    > li {
      float: right;
      width: 80%;
      margin-bottom: 1.2rem;
      a {
        line-height: 2rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: $color-black;
        text-decoration: underline $color-white 3px;
        transition: text-decoration 0.2s;

        &:hover {
          text-decoration: underline $color-secondary-light 3px;
        }
      }
    }
  }
}
