$linearLineWidth: 0.8rem;
$itemGutterWidth: 4rem;
$itemVerticalSpacing: 0.3rem;

.skillset {
  background-color: $color-white;
  margin: 0 auto;
  padding: $itemVerticalSpacing 0 $itemVerticalSpacing 0;

  max-width: 60rem;
  width: 90%;

  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    display: block;
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transition: transform 1000ms;
    // transform: translateX(-50%) translateY(-100%);
    z-index: 0;
    background-color: $color-secondary-light;
    width: $linearLineWidth;
  }

  &.skillset--show::after {
    transform: translateX(-50%) translateY(0);
  }
}

.item {
  display: block;
  width: calc(50% - (#{$linearLineWidth} / 2));
  position: relative;

  h4,
  p {
    opacity: 0;
    transition: opacity 1s;

    .skillset--show & {
      opacity: 1;
      transition-delay: 500ms;
    }
  }

  h4 {
    font-size: 2.5rem;
    line-height: 0.8rem;
    margin: 0 0 1.5rem 0;
    letter-spacing: 0.15rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 0;

    .skillset--show & {
      opacity: 1;
      transition-delay: 1s;
    }
  }
  span {
    display: flex;
    position: absolute;
    height: 100%;
    width: 4.8rem;

    img {
      width: 100%;
      opacity: 0;
      animation: forwards 0.5s ease-in techimg;
      animation-delay: 1500ms;
      .skillset--show & {
      }
    }
  }

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 15;
    stroke-miterlimit: 10;
    stroke: $color-secondary-dark-2;
    fill: none;
    animation: nane;

    .skillset--show & {
      animation: goround 5s cubic-bezier(0.65, 0, 0.45, 1) infinite;
    }
  }

  .checkmark {
    z-index: 2;
    position: absolute;
    top: -2rem;
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
    display: block;
    stroke-width: 7;
    stroke: $color-white;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px $color-secondary;
    animation: fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
  }

  .checkmark__check {
    opacity: 0;
    visibility: hidden;
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    // stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    transition: all 1s;

    .skillset--show & {
      opacity: 1;
      visibility: visible;
    }
  }

  &:not(:last-child) {
    margin-bottom: $itemVerticalSpacing;
  }

  &:nth-child(odd) {
    align-self: flex-end;
    padding-left: $itemGutterWidth;
    text-align: left;

    .checkmark {
      left: -2rem;
    }

    span {
      top: 50%;
      right: 0;
      transform: translateX(20%) translateY(-70%);
    }
  }

  &:nth-child(even) {
    align-self: flex-start;
    padding-right: $itemGutterWidth;
    text-align: right;

    .checkmark {
      left: 19rem;
    }

    span {
      top: 50%;
      left: 0;
      transform: translateX(-20%) translateY(-70%);
    }
  }
}

@keyframes techimg {
  100% {
    opacity: 1;
  }
}

@keyframes nodeSize {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $color-secondary;
  }
}

@keyframes goround {
  75% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 166;
  }
}
