.arrow-big {
  display: inline-block;
  height: 8rem;
  width: 18rem;
  background-color: $color-secondary;
  color: $color-white;
  text-align: center;
  clip-path: polygon(
    0% 20%,
    70% 20%,
    70% 0%,
    100% 50%,
    70% 100%,
    70% 80%,
    0% 80%
  );

  position: relative;

  p {
    font-size: 2rem;
    font-family: $font-style-cartOne;
    display: inline-block;
    color: $color-white;
    z-index: 5;
    vertical-align: middle;

    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-29%, -50%);
  }
}
