.section {
  height: 65rem;

  &-about {
    background-color: $color-white;
    position: relative;

    &__arrow-box {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: rotateZ(-30deg);
      transition: all linear 0.1s;

      &:hover {
        transform: rotateZ(-32deg);
        // left: 40.5%;
        // top: 29.5%;
      }
    }

    &__textbox {
      &-1 {
        position: absolute;
        top: 10%;
        right: 5%;
        font-weight: bold;
        padding: 0.5rem 2rem;
        background-color: $color-white-dark;
      }
      &-2 {
        position: absolute;
        top: 5%;
        left: 5%;
      }
    }

    &__skillsetbox {
      position: absolute;
      top: 15%;
      left: 5%;

      width: 50rem;
    }

    &__project-box {
      position: absolute;
      bottom: 8%;
      right: 13%;

      // background-color: lightskyblue;
    }
  }

  &-repo {
    background-color: $color-primary;

    &__heading {
      width: 100%;
      float: left;

      // background-color: mediumslateblue;
    }

    &__repos {
      width: 100%;
      float: left;
      // height: 45rem;

      // background-color: mediumturquoise;
    }
  }

  &-note {
    background-color: $color-white;
  }
}
