.section {
  height: 80rem;

  &-about {
    background-color: $color-white;
    position: relative;

    &__arrow-box {
      position: absolute;
      top: 6rem;
      left: 6rem;
      transition: all linear 0.1s;

      &:hover {
        left: 8rem;
      }
    }

    &__text {
      &-box1 {
        font-weight: bold;
        position: absolute;
        top: 10.5em;
        right: 5%;
        padding: 0.5rem 2rem;

        background-color: $color-white-dark;
        // background-color: blanchedalmond;
      }

      &-box2 {
        // background-color: lightgreen;
        width: 45%;
        position: absolute;
        top: 35em;
        left: 5%;

        &--1 {
          // background-color: lightsalmon;
        }

        &--2 {
          // background-color: lightseagreen;
          margin-top: 7rem;
          line-height: 10rem;
        }
      }
    }

    &__project-box {
      position: absolute;
      bottom: 7rem;
      right: 8.5%;

      // background-color: lightskyblue;
    }
  }

  &-repo {
    background-color: $color-primary;

    &__heading-box {
      width: 100%;
      float: left;

      // background-color: mediumslateblue;
    }

    &__repos-box {
      width: 100%;
      float: left;
      height: 45rem;

      background-color: mediumturquoise;
    }
  }

  &-note {
    background-color: $color-white;
  }
}
