#aboutpage {
  .about {
    color: $color-white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__top {
      flex: 1.5;
      position: relative;
      display: flex;
      align-items: center;
      background: linear-gradient(
        to bottom,
        $color-primary 50%,
        $color-white 50%
      );

      &-buttonsbox {
        position: absolute;
        left: 4rem;
        transition: 0.3s all ease-in-out;
        &:hover {
          transform: translateX(-2%);
        }
      }

      &-pagename {
        font-size: 2.8rem;
        color: $color-white;
        background-color: $color-secondary;
        width: 25rem;
        height: 65%;
        position: absolute;
        right: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        // border-top-left-radius: 10px;
        // border-top-right-radius: 10px;
        // border-bottom-left-radius: 30px;
        // border-bottom-right-radius: 30px;
        box-shadow: rgba($color-black, 0.19) 0px 10px 20px,
          rgba($color-black, 0.23) 0px 3px 6px;
        border: 5px $color-white-dark solid;
        text-shadow: 0.03em 0.03em 0 $color-black;
        animation: 0.1s forwards enteronleft ease;
      }
    }

    &__mid {
      flex: 10;
      display: flex;
      flex-direction: row;
      background-color: $color-black;
      &_left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &-textbox {
          &--1 {
            font-size: 3rem;
            position: absolute;
            left: 4rem;
            top: 5rem;
          }
          &--2 {
            font-size: 2rem;
            position: absolute;
            left: 10rem;
            top: 16rem;
          }
          &--3 {
            font-size: 2rem;
            position: absolute;
            left: 40rem;
            top: 19rem;
          }
        }

        &-buttonbox {
          position: absolute;
          left: 52rem;
          top: 11rem;
        }

        &-codetime {
          align-self: center;
          position: absolute;
          top: 25rem;
          img {
            height: 30rem;
          }

          figcaption {
            font-size: 1.1rem;
            line-height: 3rem;
            text-align: center;
          }
        }
      }

      &_right {
        flex: 1;
        display: flex;
        // align-self: center;
        align-items: center;
        justify-content: center;
      }
    }

    &__bottom {
      flex: 0.8;
      background-color: $color-secondary;
    }
  }
}

@keyframes enteronleft {
  0% {
    font-size: 2rem;
    width: 10rem;
  }
  100% {
    font-size: 2.5rem;
    width: 20rem;
  }
}
