#aboutpage {
  .about {
    color: $color-white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
      display: block;
    }

    &__top {
      flex: 1.2;
      position: relative;
      display: flex;
      align-items: center;
      background: linear-gradient(
        to bottom,
        $color-primary 65%,
        $color-white 40%
      );
      // background-color: rgba($color-primary, 1);

      @include respond(tab-land) {
        height: 8rem;
      }

      &-buttonsbox {
        position: absolute;
        left: 4rem;
        &:hover {
          // transform: translateX(-0.5%);
          // transform: scale(0.99);
        }
      }

      &-pagename {
        // color: $color-primary;
        background-color: $color-black;
        border: 1px $color-secondary solid;
        text-shadow: 0.03em 0.03em 0 $color-black;

        height: 75%;
        // width: 22rem;
        position: absolute;
        right: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-weight: bold;
          font-size: 2.3rem;
        }
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: rgba($color-black, 0.19) 0px 10px 20px,
          rgba($color-black, 0.23) 0px 3px 6px;
        animation: 0.1s forwards enteronleft ease;
      }
    }

    &__mid {
      flex: 10;
      display: flex;
      flex-direction: row-reverse;
      background-color: $color-black;

      @include respond(tab-land) {
        flex-direction: column;
      }

      &_left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &-textbox {
          width: 45rem;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          @include respond(tab-land) {
            margin-bottom: 5rem;
          }

          &--1 {
            height: 15rem;
            width: 100%;
            p {
              font-size: 2.7rem;
              line-height: 5rem;
              span {
                font-size: 2rem;
                margin-left: 0.5rem;
                span {
                  font-size: 1.5rem;
                }
              }
            }
          }
          &--2 {
            height: 3.5rem;
            width: 100%;
            p {
              font-size: 1.8rem;
            }
          }
          &--3 {
            height: 3.5rem;
            width: 100%;
            p {
              font-size: 1.8rem;
              text-align: end;
              padding-right: 1rem;
            }
          }
        }

        &-buttonbox {
          position: absolute;
          right: 0;
          top: 3.5rem;
        }

        &-codetime {
          height: 30rem;
          img {
            margin-top: 3rem;
            max-height: 25rem;
            max-width: 40rem;
          }

          figcaption {
            font-size: 1.1rem;
            line-height: 4rem;
            text-align: center;
          }
        }
      }

      &_right {
        flex: 1;
        display: flex;
        // align-self: center;
        align-items: center;
        justify-content: center;
      }
    }

    &__bottom {
      flex: 0.5;
      background-color: $color-primary;

      @include respond(tab-land) {
        height: 4rem;
      }
    }
  }
}

@keyframes enteronleft {
  0% {
    font-size: 2rem;
    width: 10rem;
  }
  100% {
    font-size: 2.5rem;
    width: 20rem;
    right: 1.5rem;
  }
}
