$section-default-height: 65rem;

.section {
  height: $section-default-height;

  &-about {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      height: $section-default-height * 2;
    }

    &__container {
      position: relative;
      height: 95%;
      width: 98%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 6px 2px,
        rgba(60, 64, 67, 0.15) 0px 0px 6px 2px;

      // Tired for zoom out all of size so just scale it.
      transform: scale(0.92);

      @include respond(tab-land) {
        transform: scale(1);
      }
      @include respond(tab-port) {
        width: 95%;
      }
      @include respond(phone) {
        width: 90%;
      }
    }

    &__screwbox {
      position: absolute;
      animation: screwsrotate2 forwards 0.5s ease-in;

      &--rotate {
        animation: screwsrotate forwards 0.5s ease-in;
      }
      img {
        height: 3rem;
      }
      &-1 {
        top: 0.5rem;
        left: 0.5rem;
      }
      &-2 {
        top: 0.5rem;
        right: 0.5rem;
      }
      &-3 {
        bottom: 0.5rem;
        right: 0.5rem;
      }
      &-4 {
        bottom: 0.5rem;
        left: 0.5rem;
      }
    }

    &__textbox {
      &-1 {
        position: absolute;
        top: 8%;
        right: 10%;
        font-weight: bold;
        padding: 1.5rem 3rem;
        background-color: $color-white-dark;

        @include respond(tab-land) {
          transform: scale(0.8);
          right: 5%;
          top: 4%;
        }
        @include respond(tab-port) {
          transform: scale(0.7);
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        @include respond(phone) {
          margin-right: 1rem;
          transform: scale(0.5);
          top: 2%;
        }
      }
      &-2 {
        position: absolute;
        top: 2%;
        left: 4%;

        @include respond(tab-land) {
          transform: scale(0.8);
          top: 3%;
        }
        @include respond(tab-port) {
          width: 100%;
          transform: scale(1);
          left: 0;
          top: 12%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        @include respond(phone) {
          top: 13%;
          transform: scale(0.8);
        }
      }
    }

    &__circlebox {
      position: absolute;
      top: 4%;
      right: 1.1%;

      @include respond(tab-land) {
        transform: scale(0.8);
        right: 5%;
      }
      @include respond(phone) {
        right: 10%;
      }
    }

    &__skillsetbox {
      position: absolute;
      top: 7%;
      left: 7%;
      width: 50rem;

      @include respond(tab-land) {
        width: 50%;
        transform: scale(0.8);
        top: 10%;
        left: 0;
      }
      @include respond(tab-port) {
        width: 100%;
        top: 15%;
        transform: scale(0.8);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @include respond(phone) {
        top: 16.5%;
      }
    }

    &__arrow-box {
      position: absolute;
      top: 50%;
      left: 43%;

      h3 {
        display: none;
      }
      a {
        height: 6rem;
        width: 10rem;
        opacity: 0;
        animation: arrowmove forwards 1s ease-out;
        transition: all linear 0.3s;
        animation-delay: 2500ms;
        p {
          &::after {
            font-size: 2.2rem;
            content: '作品';
          }
        }

        &:hover {
          background-color: $color-black;
          transform: translateX(5%);
          p {
            &::after {
              font-size: 2rem;
              font-weight: 300;
              content: 'Github';
            }
          }
        }
      }

      @include respond(tab-land) {
        transform: scale(0.8);
      }
      @include respond(tab-port) {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1);
        top: 58%;
        left: 0;
        width: 100%;
        a {
          display: none;
        }
        h3 {
          display: block;
        }
      }
      @include respond(phone) {
        top: 61%;
        transform: scale(0.8);
      }
    }

    &__project-box {
      position: absolute;
      bottom: 4%;
      right: 9.5%;

      @include respond(tab-land) {
        width: 50%;
        transform: scale(0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 6%;
        right: 0;
      }
      @include respond(tab-port) {
        width: 100%;
        bottom: 1%;
      }
      @include respond(phone) {
        bottom: 2%;
        width: 100%;
        transform: scale(0.7);

        // background-color: red;
      }
    }
  }

  &-repo {
    background-image: linear-gradient(
      to bottom right,
      rgba($color-primary, 0.7) 0%,
      // rgba($color-primary, 0.8) 80%,
      rgba($color-primary, 1) 100%
    );

    &__heading {
      width: 100%;
      float: left;
    }

    &__repos {
      width: 100%;
      float: left;
    }
  }

  &-note {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      height: $section-default-height * 1.5;
    }
    @include respond(tab-port) {
      height: $section-default-height * 2;
    }
    @include respond(phone) {
      height: $section-default-height * 2.2;
    }

    &__container {
      position: relative;
      width: 95%;
      height: 90%;
      padding: 1% 2.5%;
      border: 3px solid $color-secondary;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      @include respond(tab-land) {
        padding: 1% 2.5%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      @include respond(tab-port) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include respond(phone) {
        grid-template-columns: 1fr 1fr;
        width: 90%;
        height: 95%;
        padding: 1% 0;
      }
    }

    &__topicbox {
      display: flex;
      justify-content: center;
      align-items: center;

      @include respond(phone) {
        &:nth-child(2n-1) {
          transform: translateX(3.5%);
        }
        &:nth-child(2n) {
          transform: translateX(-3.5%);
        }
      }
    }
  }
}

@keyframes arrowmove {
  25% {
    opacity: 1;
    left: 45.5%;
  }

  50% {
    left: 44.5%;
  }

  70% {
    left: 44%;
    background-color: $color-black;
  }
  100% {
    opacity: 1;
    left: 45%;
  }
}

@keyframes screwsrotate {
  100% {
    transform: rotateZ(90deg);
  }
}

@keyframes screwsrotate2 {
  100% {
    transform: rotateZ(-90deg);
  }
}
