.resumelinks {
  position: relative;
  background-color: $color-white;
  color: $color-black;
  flex-direction: row;

  .switchLang {
    position: absolute;
    left: 2rem;
    top: 0.5rem;
    a {
      font-size: 2rem;
    }
  }

  .github {
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    span {
      font-size: 1.5rem;
      padding-right: 1rem;
    }
    a {
      font-size: 2rem;
    }
  }
  .skillprojects {
    border: 2px solid $color-black;

    a {
      width: 80%;
      text-align: center;
      font-size: 2.5rem;
      margin-top: 3rem;
    }
  }

  > section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;

    &:nth-child(1) {
      border-right: 0.5px $color-black solid;
    }
    &:nth-child(2) {
      border-left: 0.5px $color-black solid;
    }

    h2 {
      font-size: 2.5rem;
      border-bottom: solid 5px $color-black;
    }

    ul {
      display: flex;
      flex-direction: column;
      width: 80%;
      list-style: none;

      li {
        text-align: center;
        padding: 3rem 0;
        border-bottom: 1px solid $color-black;
        font-size: 2rem;
        margin: 1rem 0;

        &:last-child {
        }

        > span {
          font-weight: bold;
        }

        a {
          word-break: break-all;
        }

        .projectfield {
          margin-top: 1rem;
        }
      }
    }
  }
}
